aiodns @ file:///croot/aiodns_1756292939355/work
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1755769838153/work
aiohttp @ file:///croot/aiohttp_1756374103858/work
aiosignal @ file:///croot/aiosignal_1755870803324/work
anyio==4.12.1
async-timeout @ file:///croot/async-timeout_1732661977001/work
attrs @ file:///croot/attrs_1734533101012/work
black==26.1.0
blessed @ file:///home/task_176251794346084/conda-bld/blessed_1762518773130/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1756543051885/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1756198238354/work
certifi @ file:///home/task_176765898807400/croot/certifi_1767659142395/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1758270398201/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
contourpy @ file:///croot/contourpy_1732540045555/work
cuda-bindings @ file:///home/conda/feedstock_root/build_artifacts/cuda-python-split_1754583608094/work/cuda_bindings
cuda-pathfinder @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cuda-pathfinder_1758152703/work/cuda_pathfinder
cuda-python @ file:///home/conda/feedstock_root/build_artifacts/cuda-python-split_1754583514434/work/cuda_python
cudf @ file:///tmp/conda-bld-output/bld/rattler-build_cudf/work/python/cudf
cuml @ file:///tmp/conda-bld-output/bld/rattler-build_cuml/work/python/cuml
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy-split_1757729918236/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1734107196509/work
dask @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dask-core_1752524171/work
dask-cuda @ file:///tmp/conda-bld-output/bld/rattler-build_dask-cuda/work
dask-cudf @ file:///tmp/conda-bld-output/bld/rattler-build_dask-cudf/work/python/dask_cudf
datasets==4.5.0
dill @ file:///croot/dill_1715094664823/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_distributed_1752539128/work
distributed-ucxx @ file:///tmp/conda-bld-output/bld/rattler-build_libucxx/work/python/distributed-ucxx
exceptiongroup==1.3.1
fastrlock @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastrlock_1756729198/work
filelock @ file:///croot/filelock_1744281381737/work
fonttools @ file:///home/task_175879159135282/conda-bld/fonttools_1758791605834/work
frozenlist @ file:///croot/frozenlist_1730902802621/work
fsspec @ file:///croot/fsspec_1736274672181/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
gpustat @ file:///croot/gpustat_1701888826609/work
h11==0.16.0
hf-xet @ file:///croot/hf-xet_1755725946166/work
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna @ file:///croot/idna_1714398848350/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
inquirerpy==0.3.4
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib @ file:///home/task_175792628915440/conda-bld/joblib_1757926346336/work
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
llvmlite==0.44.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1725089426044/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.6
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1756678503794/work
multidict @ file:///croot/multidict_1730905498140/work
multiprocess @ file:///croot/multiprocess_1692294385131/work
mypy_extensions==1.1.0
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1757782706/work
networkx @ file:///croot/networkx_1737039604450/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1758565148155/work
numba-cuda @ file:///opt/conda/conda-bld/work
numexpr @ file:///croot/numexpr_1752521720723/work
numpy @ file:///croot/numpy_and_numpy_base_1725470312869/work/dist/numpy-2.0.1-cp310-cp310-linux_x86_64.whl#sha256=120568f3fd675f59e4cb6de79a5c193b4067d90878d8bab2040fda8e3a2df6fa
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py @ file:///home/conda/feedstock_root/build_artifacts/nvidia-ml-py_1746576379096/work
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
nvtx @ file:///home/conda/feedstock_root/build_artifacts/nvtx_1758399910181/work
packaging @ file:///croot/packaging_1753775359799/work
pandas @ file:///croot/pandas_1756466404410/work/dist/pandas-2.3.2-cp310-cp310-linux_x86_64.whl#sha256=18da92fe558a6dcb71cd1f94c07e392b60538d6297a73058fa4628bb1e4cdc28
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
pathspec==1.0.3
pfzy==0.3.4
pillow @ file:///croot/pillow_1752524526621/work
platformdirs==4.5.1
prompt_toolkit==3.0.52
propcache @ file:///croot/propcache_1744012718189/work
protobuf @ file:///croot/protobuf_1742419705443/work/bazel-bin/python/dist/protobuf-5.29.3-cp310-abi3-linux_x86_64.whl#sha256=e55acfd476c7a1d8544b98df45c7d8e9c425b9caf0abb1f7e7cfa87c2e017bd1
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1758169166862/work
pyarrow==22.0.0
pycares @ file:///croot/pycares_1756217929773/work
pycparser @ file:///home/task_175749556993857/conda-bld/pycparser_1757496041120/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pylibcudf @ file:///tmp/conda-bld-output/bld/rattler-build_pylibcudf/work/python/pylibcudf
pylibraft @ file:///tmp/conda-bld-output/bld/rattler-build_pylibraft/work/python/pylibraft
pynndescent==0.6.0
pynvjitlink-cu12 @ file:///tmp/conda-bld-output/bld/rattler-build_pynvjitlink/work
pynvml @ file:///home/conda/feedstock_root/build_artifacts/pynvml_1734538935786/work
pyparsing @ file:///croot/pyparsing_1731445506121/work
PyQt6==6.9.1
PyQt6_sip @ file:///home/task_175751008770153/conda-bld/pyqt-split_1757511022671/work/pyqt_sip
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
pytokens==0.4.0
pytz @ file:///croot/pytz_1752135852232/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
raft-dask @ file:///tmp/conda-bld-output/bld/rattler-build_raft-dask/work/python/raft-dask
regex @ file:///home/task_175888776964467/conda-bld/regex_1758887948935/work
requests @ file:///croot/requests_1756709366904/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1753436991/work/dist
rmm @ file:///tmp/conda-bld-output/bld/rattler-build_rmm/work/python/rmm
safetensors @ file:///croot/safetensors_1741361308036/work
scikit-learn @ file:///home/task_175861954415939/conda-bld/scikit-learn_1758619598212/work
scipy @ file:///croot/scipy_1747238027288/work/dist/scipy-1.15.3-cp310-cp310-linux_x86_64.whl#sha256=4055d6b52bbbfc19594ac7c25008889945de175e153afc0935b6415716fa348e
seaborn==0.13.2
sentencepiece==0.2.1
sip @ file:///croot/sip_1756223371714/work
six @ file:///croot/six_1744271502820/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
sympy @ file:///home/task_176476278707978/conda-bld/sympy_1764762918518/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1743515515538/work
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
tokenizers==0.22.2
tomli @ file:///croot/tomli_1753774587605/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1733736030883/work
torch==2.9.0
torchaudio==2.5.1
tornado @ file:///croot/tornado_1748956929273/work
tqdm @ file:///croot/tqdm_1738943501192/work
transformers==4.57.6
treelite @ file:///home/conda/feedstock_root/build_artifacts/treelite_1732330213358/work/python
triton==3.5.0
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
ucx-py @ file:///tmp/conda-bld-output/bld/rattler-build_ucx-py/work
ucxx @ file:///tmp/conda-bld-output/bld/rattler-build_libucxx/work/python/ucxx
umap-learn==0.5.11
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
urllib3 @ file:///croot/urllib3_1750775463400/work
uvloop @ file:///croot/uvloop_1732545176183/work
wcwidth @ file:///home/task_176777874962197/croot/wcwidth_1767779156182/work
xxhash @ file:///croot/python-xxhash_1737039434400/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work
yarl @ file:///croot/yarl_1732546845924/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1733261551178/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
